/* Base font */
body {
    font-family: 'Inter', 'sans-serif';
}

/* Custom style for progress bar */
.progress-bar {
    transition: width 0.3s ease-in-out;
}

/* Custom message box for alerts */
#message-box {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Custom style for checkbox labels */
label:has(input[type="checkbox"]:checked) {
    border-color: #3b82f6; /* blue-500 */
    background-color: #eff6ff; /* blue-50 */
}